* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Playfair Display', serif;
    background-color: #121212;
    color: #c8c8c8;
    overflow-x: hidden;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

.social-icons i {
  font-size: 1.25rem;
  color: #666;
  transition: color 0.2s ease;
}
.social-icons i:hover {
  color: #111;
}
